body{
  background-color: aqua;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  
}

#buttons{
  text-align: center;
   margin: 10;

}



.animalCards{
  text-align: center;
 ;
}

header{
  border-style: inset;
}
.card-img-top{
  border-style:outset;
}

footer{
  background-color:pink ;
}
